.about-page {
    width: 100%;
    flex-direction: column;

    .head {
        width: 100%;
        height: 500px;
        background-image: url('/assets/aboutBack.webp');
        background-position: center;
        background-size: cover;
        -webkit-box-shadow: 0px 5px 9px -5px rgba(60, 145, 211, 0.6);
        -moz-box-shadow: 0px 5px 9px -5px rgba(60, 145, 211, 0.6);
        box-shadow: 0px 5px 9px -5px rgba(60, 145, 211, 0.6);




    }

    .inner {
        padding-top: 10px;
        display: flex;
        flex-direction: column;


        &-about {
            padding: 50px;
            padding-top: 20px;

            h1 {
                font-size: 35px;
                font-weight: 600;
                padding-bottom: 20px;

            }

            p {
                font-size: 20px;
                line-height: 30px;
                padding-bottom: 10px;
            }
        }



    }
}

@media (max-width: 1100px) {
    .about-page {
        .head {
            height: 400px;
        }



        h1 {
            font-size: 32px !important;
        }

        p {
            font-size: 17px !important;
            line-height: 25px !important;
        }

        li {
            font-size: 19px !important;
        }
    }
}

@media (max-width: 900px) {
    .about-page {
        .head {
            height: 350px;
        }

        .inner-about {
            padding: 30px;
        }

        .about-block {
            h1 {
                padding: 10px 30px;
            }
        }

        ul {
            padding: 10px 30px;
        }

        .inner {
            padding-top: 0;
        }

        h1 {
            font-size: 31px !important;
        }

        p {
            font-size: 16px !important;
            line-height: 23px !important;
        }

        li {
            font-size: 18px !important;
        }
    }
}

@media (max-width: 700px) {
    .about-page {
        .head {
            height: 300px;
        }

        h1 {
            font-size: 27px !important;
        }

        p {
            font-size: 15px !important;
            line-height: 21px !important;
        }

        li {
            font-size: 17px !important;
        }
    }
}

@media (max-width: 500px) {
    .about-page {
        .head {
            height: 170px;
        }


        .inner-about {
            padding: 15px;

            h1 {
                padding-bottom: 10px;
                font-weight: 500;
            }

            div {
                height: 220px;
                overflow: auto;
                scrollbar-width: thin;

                &::-webkit-scrollbar {
                    width: 2px;
                }

            }
        }

        .about-block {
            h1 {
                padding: 10px 15px;
            }
        }


        h1 {
            font-size: 23px !important;
        }

        p {
            font-size: 14px !important;
            line-height: 17px !important;
        }

        li {
            font-size: 16px !important;
        }
    }
    .about-block .block .block-inner ul {
        padding: 10px 15px;
    }
}


@media (max-width: 300px) {
    .about-page {
        .head {
            height: 100px;
        }


        .inner-about {
            padding: 15px;

            h1 {
                padding-bottom: 10px;
            }
        }

        .about-block {
            h1 {
                padding: 10px 15px;
            }

            p {
                font-weight: 400;
            }
        }

        h1 {
            font-size: 18px !important;
        }

        p {
            font-size: 12px !important;
            line-height: 14px !important;
        }

        li {
            font-size: 14px !important;
        }


    }

    .about-block .block .block-inner ul {
        padding: 10px 15px;
    }
}