.left_main {
    height: 90vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;

        a {
            display: flex;
            align-items: center;
            gap: 10px;
            position: relative;
        }



        img {
            width: 180px;
            // height: 60px;
        }

        padding-bottom: 20px;
    }

    .inner {
        flex-direction: column;
        display: flex;
        gap: 20px;
        flex: 1 1 auto;

        a {
            display: flex;
            align-items: center;
            gap: 5px;
            color: var(--neutral-500, #717184);
            font-feature-settings: 'ss06' on;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 145%;
            transition: all .3s ease-in-out;


            &:hover {
                color: var(--main-colors-black, #0E0637);
                font-feature-settings: 'ss06' on;
                font-weight: 500;
                line-height: 145%;
                transition: all .3s ease-in-out;
            }
        }

        .active {
            color: #3559c7;
            font-feature-settings: 'ss06' on;
            font-weight: 500;
            line-height: 145%;
        }

    }



}