.myChangeInput {
    width: 300px;

    .inner {
        width: 100%;
        display: flex;
        flex-direction: column;

        .changer-input {
            background-color: white;
            width: 100%;
            position: relative;
            border: 1px solid rgba(0, 0, 0, 0.385);
            border-radius: 20px;
            border-left: none;
            align-items: center;
            display: flex;

            .content-input {
                display: flex;
                gap: 10px;
                position: relative;
                z-index: 10;
                background-color: white;
                border-radius: 20px;


                &-field {
                    display: flex;
                    gap: 10px;
                    border: 1px solid rgba(0, 0, 0, 0.36);
                    border-radius: 20px;
                    border-top: none;
                    border-bottom: none;
                    padding-right: 5px;


                    input {
                        position: relative;
                        width: 100%;
                        padding: 5px 10px;
                        border-radius: 20px;
                        outline: none;
                        border: none;
                        font-size: 18px;
                    }

                }


                img {
                    width: 30px;
                    height: 30px;
                    font-style: italic;
                    border-radius: 50%;
                    font-size: 12px;
                    padding: 3px;
                    font-family: "Roboto";
                    color: black;
                }

                input[type="number"] {
                    position: relative;
                    border: none;
                    width: 100%;
                    padding: 5px 10px;
                    border-radius: 20px;
                    outline: none;
                    border: none;
                    font-size: 18px;
                }


                &-field {
                    display: flex;
                    gap: 10px;
                }
            }




            .selector {
                border: 1px solid rgba(0, 0, 0, 0.401);
                border-top: none;
                transform: scale(0) translateY(-100%);
                position: absolute;
                transition: transform .2s ease-in-out;
                background-color: rgba(255, 255, 255, 0.815);
                z-index: 8;
                width: 100%;
                gap: 5px;
                height: 200px;
                display: flex;
                flex-direction: column;
                overflow: auto;
                top: 20px;
                border-radius: 0 0 20px 20px;


                option:nth-child(1) {
                    padding-top: 30px;
                }

                option {
                    background-color: white;
                    border-radius: 20px;

                    width: 100%;
                    transition: all .2s ease-in-out;
                    gap: 5px;
                    padding: 22px;
                    padding-left: 10px;
                    align-items: center;
                    cursor: pointer;

                    &:hover {
                        -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.8);
                        -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.8);
                        box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.8);
                    }

                    display: flex;
                    width: 100%;

                    .icons {
                        display: flex;
                        position: relative;
                        width: 20px;
                        height: 20px;
                    }

                    img {
                        width: 20px;
                        height: 20px;
                        font-style: italic;
                        border-radius: 50%;
                        font-size: 12px;
                        font-family: "Roboto";
                        color: black;
                    }








                }
            }

            .none-actived {
                z-index: 5;
            }

            .open-selector {
                transform: scale(1) translateY(0);
                transition: transform .2s ease-in-out;
            }
        }
    }
}