.my_tools {
    width: 100%;
    padding: 50px 30px;


    h1 {
        font-family: "Roboto";
        font-weight: 400;
        padding-bottom: 20px;
    }

    .inner {
        width: 100%;
        display: grid;
        gap: 20px;
        justify-items: center;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));

        @keyframes my_tool_effect {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }

        }



        .block {
            border-radius: 20px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            border: 1px solid #3c9cd07a;
            -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
            transition: all .2s ease-in-out;

            &:hover {
                transform: scale(1.05);
            }

            img {
                width: 270px;
                height: 200px;
                border-radius: 20px;
            }

            h3 {
                width: 100%;
                text-align: left;
                font-size: 18px;
                font-family: "Roboto", ;
                font-weight: 500;
                padding-left: 10px;
            }

            div {
                padding: 10px;
                display: flex;
                gap: 15px;
                width: 100%;
                height: 100%;

                p {
                    max-height: 200px;
                    width: 100%;
                    height: 100%;
                    font-size: 15px;
                    font-family: "Roboto";
                    display: -webkit-box;
                    -webkit-line-clamp: 11;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }
    }

    .inner .block:nth-child(1) {
        animation: my_tool_effect 1.3s;

    }

    .inner .block:nth-child(2) {
        animation: my_tool_effect 1.7s;
    }

    .inner .block:nth-child(3) {
        animation: my_tool_effect 2.1s;
    }

    .inner .block:nth-child(4) {
        animation: my_tool_effect 2.5s;
    }

    .inner .block:nth-child(5) {
        animation: my_tool_effect 2.9s;
    }

    .inner .block:nth-child(6) {
        animation: my_tool_effect 3.3s;
    }



}