@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
  user-select: none;
  font-family: "Roboto";
  scrollbar-width: thin;
  scrollbar-color: #67b2da #f1f1f1;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  scrollbar-thumb {
    background: #67b2da;
    border-radius: 6px !important;
  }

  /* Трек */
  scrollbar-track {
    transform: rotate(90deg) !important;
  }

  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background: #67b2da;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

}



/* Thumb (перемещаемая часть) */

body {
  display: flex;
  position: relative;
  justify-content: center;
}

.container {
  display: flex;
  height: 100%;
  max-width: 2000px;
  width: 100%;
  justify-content: space-between;

  .leftMain {
    height: 100vh;
    position: relative;
    justify-content: center;
    width: 300px;
    padding-right: 20px;
  }


  main {
    border-left: 0.3px solid rgba(128, 128, 128, 0.368);

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}

.curs {
  display: flex;
  align-items: center;
  gap: 5px;

  img {
    width: 20px;

  }

  color: #6e85ea
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 5px 10px !important;
}

@media (min-width: 1201px) {
  .container .leftMain .left_main {
    .burger-menu {
      display: none;
    }
  }
}

@media (max-width: 1200px) {
  .container .leftMain {
    position: fixed;
    z-index: 29;
    transform: translateX(-80%);
    transition: transform .2s linear;



    .burger-menu .menu {
      background-color: white;
      padding: 5px;
      position: fixed;
      border-radius: 0 50% 50% 0;
      -webkit-box-shadow: 5px 4px 13px -7px rgba(39, 121, 185, 0.6);
      -moz-box-shadow: 5px 4px 13px -7px rgba(39, 121, 185, 0.6);
      box-shadow: 5px 4px 13px -7px rgba(39, 121, 185, 0.6);
    }



  }


  .container .actived-menu {
    width: 100%;
    transform: translateX(0);
    background-color: rgba(255, 255, 255, 0.023);
    transition: transform .2s linear;
    z-index: 10;

    .left_main {
      width: 250px;

      height: 100%;

      .burger-menu {
        right: 0;

        .opened {

          .line {
            stroke: #3559c7;
          }
        }
      }
    }




  }
}